**This notebook is an exercise in the [Pandas](https://www.kaggle.com/learn/pandas) course.  You can reference the tutorial at [this link](https://www.kaggle.com/residentmario/grouping-and-sorting).**

---

# Introduction

In these exercises we'll apply groupwise analysis to our dataset.

Run the code cell below to load the data before running the exercises.

In [2]:
import pandas as pd

reviews = pd.read_csv("../input/wine-reviews/winemag-data-130k-v2.csv", index_col=0)
#pd.set_option("display.max_rows", 5)

from learntools.core import binder; binder.bind(globals())
from learntools.pandas.grouping_and_sorting import *
print("Setup complete.")

Setup complete.

# Exercises

## 1.
Who are the most common wine reviewers in the dataset? Create a `Series` whose index is the `taster_twitter_handle` category from the dataset, and whose values count how many reviews each person wrote.

In [14]:
reviews.groupby('country').agg([len])

,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
,len,len,len,len,len,len,len,len,len,len,len,len
country,,,,,,,,,,,,
Argentina,3800,3800,3800,3800,3800,3800,3800,3800,3800,3800,3800,3800
Armenia,2,2,2,2,2,2,2,2,2,2,2,2
Australia,2329,2329,2329,2329,2329,2329,2329,2329,2329,2329,2329,2329
Austria,3345,3345,3345,3345,3345,3345,3345,3345,3345,3345,3345,3345
Bosnia and Herzegovina,2,2,2,2,2,2,2,2,2,2,2,2
Brazil,52,52,52,52,52,52,52,52,52,52,52,52
Bulgaria,141,141,141,141,141,141,141,141,141,141,141,141
Canada,257,257,257,257,257,257,257,257,257,257,257,257
Chile,4472,4472,4472,4472,4472,4472,4472,4472,4472,4472,4472,4472
China,1,1,1,1,1,1,1,1,1,1,1,1
Croatia,73,73,73,73,73,73,73,73,73,73,73,73
Cyprus,11,11,11,11,11,11,11,11,11,11,11,11
Czech Republic,12,12,12,12,12,12,12,12,12,12,12,12
Egypt,1,1,1,1,1,1,1,1,1,1,1,1
England,74,74,74,74,74,74,74,74,74,74,74,74
France,22093,22093,22093,22093,22093,22093,22093,22093,22093,22093,22093,22093
Georgia,86,86,86,86,86,86,86,86,86,86,86,86
Germany,2165,2165,2165,2165,2165,2165,2165,2165,2165,2165,2165,2165
Greece,466,466,466,466,466,466,466,466,466,466,466,466
Hungary,146,146,146,146,146,146,146,146,146,146,146,146
India,9,9,9,9,9,9,9,9,9,9,9,9
Israel,505,505,505,505,505,505,505,505,505,505,505,505
Italy,19540,19540,19540,19540,19540,19540,19540,19540,19540,19540,19540,19540
Lebanon,35,35,35,35,35,35,35,35,35,35,35,35
Luxembourg,6,6,6,6,6,6,6,6,6,6,6,6
Macedonia,12,12,12,12,12,12,12,12,12,12,12,12
Mexico,70,70,70,70,70,70,70,70,70,70,70,70
Moldova,59,59,59,59,59,59,59,59,59,59,59,59
Morocco,28,28,28,28,28,28,28,28,28,28,28,28
New Zealand,1419,1419,1419,1419,1419,1419,1419,1419,1419,1419,1419,1419
Peru,16,16,16,16,16,16,16,16,16,16,16,16
Portugal,5691,5691,5691,5691,5691,5691,5691,5691,5691,5691,5691,5691
Romania,120,120,120,120,120,120,120,120,120,120,120,120
Serbia,12,12,12,12,12,12,12,12,12,12,12,12
Slovakia,1,1,1,1,1,1,1,1,1,1,1,1
Slovenia,87,87,87,87,87,87,87,87,87,87,87,87
South Africa,1401,1401,1401,1401,1401,1401,1401,1401,1401,1401,1401,1401
Spain,6645,6645,6645,6645,6645,6645,6645,6645,6645,6645,6645,6645
Switzerland,7,7,7,7,7,7,7,7,7,7,7,7
Turkey,90,90,90,90,90,90,90,90,90,90,90,90
US,54504,54504,54504,54504,54504,54504,54504,54504,54504,54504,54504,54504
Ukraine,14,14,14,14,14,14,14,14,14,14,14,14
Uruguay,109,109,109,109,109,109,109,109,109,109,109,109

In [20]:
reviews.head()
reviews.groupby(by="taster_twitter_handle").size()

taster_twitter_handle
@AnneInVino          3685
@JoeCz               5147
@bkfiona               27
@gordone_cellars     4177
@kerinokeefe        10776
@laurbuzz            1835
@mattkettmann        6332
@paulgwine           9532
@suskostrzewa        1085
@vboone              9537
@vossroger          25514
@wawinereport        4966
@wineschach         15134
@winewchristina         6
@worldwineguys       1005
dtype: int64

In [17]:
# Your code here
reviews_written = reviews.groupby(by="taster_twitter_handle").description.count()

# Check your answer
q1.check()

Correct:


```python
reviews_written = reviews.groupby('taster_twitter_handle').size()
```
or
```python
reviews_written = reviews.groupby('taster_twitter_handle').taster_twitter_handle.count()
```

In [ ]:
#q1.hint()
#q1.solution()

## 2.
What is the best wine I can buy for a given amount of money? Create a `Series` whose index is wine prices and whose values is the maximum number of points a wine costing that much was given in a review. Sort the values by price, ascending (so that `4.0` dollars is at the top and `3300.0` dollars is at the bottom).

In [31]:
reviews.groupby("price").points.max().sort_index( )

price
4.0       86
5.0       87
6.0       88
7.0       91
8.0       91
          ..
1900.0    98
2000.0    97
2013.0    91
2500.0    96
3300.0    88
Name: points, Length: 390, dtype: int64

In [32]:
best_rating_per_price = reviews.groupby("price").points.max().sort_index( )

# Check your answer
q2.check()

Correct

In [33]:
q2.hint()
q2.solution()

Hint: Use `max()` and `sort_index()`.  The relevant columns in the DataFrame are `price` and `points`.

Solution:
```python
best_rating_per_price = reviews.groupby('price')['points'].max().sort_index()
```

## 3.
What are the minimum and maximum prices for each `variety` of wine? Create a `DataFrame` whose index is the `variety` category from the dataset and whose values are the `min` and `max` values thereof.

In [34]:
price_extremes = reviews.groupby("variety").price.agg([min, max])

# Check your answer
q3.check()

Correct

In [ ]:
#q3.hint()
#q3.solution()

## 4.
What are the most expensive wine varieties? Create a variable `sorted_varieties` containing a copy of the dataframe from the previous question where varieties are sorted in descending order based on minimum price, then on maximum price (to break ties).

In [39]:
reviews.groupby("variety").price.agg([min, max]).sort_values(by = ["min", "max"], ascending=False)

                                  min    max
variety
Ramisco                         495.0  495.0
Terrantez                       236.0  236.0
Francisa                        160.0  160.0
Rosenmuskateller                150.0  150.0
Tinta Negra Mole                112.0  112.0
...                               ...    ...
Roscetto                          NaN    NaN
Sauvignon Blanc-Sauvignon Gris    NaN    NaN
Tempranillo-Malbec                NaN    NaN
Vital                             NaN    NaN
Zelen                             NaN    NaN

[707 rows x 2 columns]

In [38]:
sorted_varieties = reviews.groupby("variety").price.agg([min, max]).sort_values(by = ["min", "max"], ascending=False)

# Check your answer
q4.check()

Correct

In [ ]:
#q4.hint()
#q4.solution()

## 5.
Create a `Series` whose index is reviewers and whose values is the average review score given out by that reviewer. Hint: you will need the `taster_name` and `points` columns.

In [40]:
reviewer_mean_ratings = reviews.groupby("taster_name").points.mean()

# Check your answer
q5.check()

Correct

In [ ]:
#q5.hint()
#q5.solution()

Are there significant differences in the average scores assigned by the various reviewers? Run the cell below to use the `describe()` method to see a summary of the range of values.

In [41]:
reviewer_mean_ratings.describe()

count    19.000000
mean     88.233026
std       1.243610
min      85.855422
25%      87.323501
50%      88.536235
75%      88.975256
max      90.562551
Name: points, dtype: float64

## 6.
What combination of countries and varieties are most common? Create a `Series` whose index is a `MultiIndex`of `{country, variety}` pairs. For example, a pinot noir produced in the US should map to `{"US", "Pinot Noir"}`. Sort the values in the `Series` in descending order based on wine count.

In [43]:
reviews.groupby(["country", "variety"]).size().sort_values(ascending=False)

country  variety
US       Pinot Noir                  9885
         Cabernet Sauvignon          7315
         Chardonnay                  6801
France   Bordeaux-style Red Blend    4725
Italy    Red Blend                   3624
                                     ...
Mexico   Cinsault                       1
         Grenache                       1
         Merlot                         1
         Rosado                         1
Uruguay  White Blend                    1
Length: 1612, dtype: int64

In [42]:
country_variety_counts = reviews.groupby(["country", "variety"]).size().sort_values(ascending=False)

# Check your answer
q6.check()

Correct

In [44]:
q6.hint()
#q6.solution()

Hint: Use `groupby()`, and provide a list of columns to group by.  You may also find `size()` and `sort_values()` to be useful!

# Keep going

Move on to the [**data types and missing data**](https://www.kaggle.com/residentmario/data-types-and-missing-values).

---




*Have questions or comments? Visit the [course discussion forum](https://www.kaggle.com/learn/pandas/discussion) to chat with other learners.*